<div class="container">
  @if ( isLoadingResults){
    <div class="loading">
      <app-loading></app-loading>
    </div>
    }
  <!-- <div class="cadastro"> -->
    <div class="formulario">
      <form [formGroup]="cadastraLoginForm">
        <!-- <app-uploaddocumento></app-uploaddocumento> -->
        <div class="titulo">
          <h1>Cadastre-se</h1>
          <p>Preencha seus dados pessoais abaixo</p>
        </div>
        <div class="card">
          <div class="cpf">
            <label for="cpf">CPF:</label>
            <input
              id="cpf"
              formControlName="cpf"
              pInputText
              type="text"
              placeholder="CPF"
              maxlength="14"
              appFormatacpf
              appInputpreenchido
            />
          </div>

          <div class="nome">
            <label>Nome completo:</label>
            <input
              formControlName="nome"
              pInputText
              id="nome"
              type="text"
              placeholder="Nome completo"
              appInputpreenchido
            />
          </div>
        
          <div class="email">
            <label for="email">E-mail:</label>
            <input
              id="email"
              formControlName="email"
              pInputText
              type="email"
              placeholder="E-mail"
              appInputpreenchido
            />
          </div>

          <div class="email">
            <label for="email">Confirmar e-mail:</label>
            <input
              id="confirmaEmail"
              formControlName="confirmaEmail"
              pInputText
              type="email"
              placeholder="Confirmar e-mail"
              appInputpreenchido
            />
          </div>

          <div class="senha">
            <label for="Senha">Senha:</label>
            <p-password
              id="senha"
              formControlName="senha"
              [toggleMask]="true"
              [feedback]="true"
              placeholder="Digite sua senha"
              promptLabel="Nivel de segurança."
              weakLabel="Senha Fraca"
              mediumLabel="Senha Média"
              strongLabel="Senha Forte"
              appInputpreenchido
            >
              <ng-template pTemplate="header">
                <h6>Escolha uma senha.</h6>
              </ng-template>
              <ng-template pTemplate="footer">
                <p-divider />
                <p class="mt-2">Sugestão de senha!</p>
                <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                  <li>Dever ter pelo menos uma letra minúscula</li>
                  <li>Dever ter pelo menos uma letra maiúscula</li>
                  <li>Dever ter pelo menos um número</li>
                  <li>Mínimo de 8 caracteres</li>
                </ul>
              </ng-template>
            </p-password>
          </div>

          <div class="senha">
            <label for="confirmarSenha">Confirmar Senha:</label>
            <p-password
              id="confirmaSenha"
              formControlName="confirmaSenha"
              [toggleMask]="true"
              [feedback]="false"
              placeholder="Confirme sua senha"
              appInputpreenchido
            />
          </div>

          <div class="checkbox">
            <p-checkbox 
              formControlName="termoUso"
              label="Aceito os termos de uso."
              binary="true"
            ></p-checkbox>
           <a href="/termos">Termos de uso</a>
          </div>

            <div class="botao">
              <button
                id="botaoSalvar"
                type="submit"
                pButton              
                severity="success"
                label="Salvar"
                [disabled]="!cadastraLoginForm.valid"
                (click)="postCadastraLogin(cadastraLoginForm.value)"
                title="Entrar"
              ></button>
            </div>



       
          <div class="voltarLogin">
            <p> <a href="/">Voltar para página de login. </a></p>
          </div>
        </div>
      </form>
     
    </div>
  <!-- </div> -->

  <app-toast></app-toast>
  

</div>
