<div class="container">
  <form [formGroup]="cadastraLoginForm">
    <!-- <app-uploaddocumento></app-uploaddocumento> -->
    <div class="titulo">
      <h1>Dados pessoais</h1>
      <p>Preencha seus dados pessoais abaixo</p>
    </div>
    <div class="card flex justify-content-center">
      <div class="documento">
        <label for="cpf">CPF:</label>
        <div class="cpf">
          <input
            id="cpf"
            formControlName="cpf"
            pInputText
            type="text"
            placeholder="CPF"
            maxlength="14"
            appFormatacpf
            appInputpreenchido
          />
        </div>
      </div>

      <label>Nome completo:</label>
      <div class="nome">
        <input
          formControlName="nome"
          pInputText
          id="nome"
          type="text"
          placeholder="Nome completo"
          appInputpreenchido
        />
      </div>

      <label for="telefone">Telefone:</label>
      <div class="telefone">
        <input
          id="telefone"
          formControlName="telefone"
          pInputText
          type="text"
          placeholder="Telefone"
          appFormataTelefone
          appInputpreenchido
        />
      </div>
      <label for="email">E-mail:</label>
      <div class="email">
        <input
          id="email"
          formControlName="email"
          pInputText
          type="email"
          placeholder="E-mail"
          appInputpreenchido
        />
      </div>

      <label for="Senha">Senha:</label>
      <div class="senha">
        <p-password
          id="senha"
          formControlName="senha"
          [toggleMask]="true"
          [feedback]="true"
          placeholder="Digite sua senha"
          promptLabel="Escolha uma senha"
          weakLabel="Senha Fraca"
          mediumLabel="Senha Média"
          strongLabel="Senha Forte"
          appInputpreenchido
        >
          <ng-template pTemplate="header">
            <h6>Escolha uma senha.</h6>
          </ng-template>
          <ng-template pTemplate="footer">
            <p-divider />
            <p class="mt-2">Sugestão de senha!</p>
            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
              <li>Dever ter pelo menos uma letra minúscula</li>
              <li>Dever ter pelo menos uma letra maiúscula</li>
              <li>Dever ter pelo menos um número</li>
              <li>Mínimo de 8 caracteres</li>
            </ul>
          </ng-template>
        </p-password>
      </div>

      <label for="confirmarSenha">Confirmar Senha:</label>
      <div class="senha">
        <p-password
          id="confirmaSenha"
          formControlName="confirmaSenha"
          [toggleMask]="true"
          [feedback]="false"
          placeholder="Confirme sua senha"
          appInputpreenchido
        />
      </div>

      <div class="checkbox">
       
        <p-checkbox
          formControlName="termoUso"
          label="Aceito os termos de uso."
          binary="true"
        ></p-checkbox>
      </div>

      <div class="botaoSalvar">
        <p-button
          pButton
          icon="pi pi-check"
          severity="success"
          label="Salvar os dados pessoais"
          [disabled]="!cadastraLoginForm.valid"
          (click)="postCadastraLogin(cadastraLoginForm.value)"
        ></p-button>
      </div>
    </div>
  </form>
  <hr />
  <app-toast></app-toast>
</div>
