<app-topo></app-topo>

<div class="container">
  <h1>Termo de Uso e Política de Privacidade.</h1>
  <h2>1. Coleta e Uso de Dados</h2>
  <p>
    - As informações fornecidas serão utilizadas exclusivamente pela empresa
    <strong>L.C Bonato & Cia Ltda</strong> para processos seletivos e
    oportunidades de emprego.
  </p>
  <p>
    - Seus dados não serão compartilhados, vendidos ou repassados a terceiros
    sem seu consentimento expresso.
  </p>

  <h2>2. Proteção e Segurança dos Dados</h2>
  <p>
    - Os dados serão armazenados de forma segura, seguindo as diretrizes da Lei
    Geral de Proteção de Dados (LGPD - Lei 13.709/2018).
  </p>
  <p>
    - Medidas técnicas e organizacionais adequadas são aplicadas para garantir a
    proteção contra acessos não autorizados, perda, alteração ou destruição dos
    dados.
  </p>

  <h2>3. Acesso, Correção e Exclusão de Dados</h2>
  <p>
    - Você pode, a qualquer momento, acessar, corrigir ou excluir seus dados,
    bem como solicitar atualização dos seus dados da nossa base.
  </p>
  <p>
    - Para exclusão, deverá ser solicitada através da opção "Remover cadadastro"
    .
  </p>
  <p>
    - Caso deseje excluir seus dados, sua solicitação será atendida dentro do
    prazo legal estabelecido pela LGPD.
  </p>

  <h2>4. Retenção dos Dados</h2>
  <p>
    - Os dados serão armazenados pelo período de <strong>1 ano</strong> a partir
    da data de cadastro, ou até que o titular solicite a remoção.
  </p>

  <h2>5. Consentimento</h2>
  <p>
    - Ao cadastrar seus dados, você consente com a coleta, armazenamento e uso
    conforme descrito neste termo.
  </p>
  <p>
    - Você poderá revogar seu consentimento a qualquer momento mediante
    solicitação formal.
  </p>

  <h2>6. Alterações no Termo</h2>
  <p>
    - Este termo pode ser atualizado periodicamente para garantir conformidade
    com mudanças na legislação ou aprimoramento das políticas de privacidade.
  </p>
  <p>
    - Qualquer alteração será informada aos usuários cadastrados por meio dos
    canais de comunicação disponíveis.
  </p>

  <p>
    Ao prosseguir com o cadastro, você declara estar ciente e de acordo com os
    termos acima.
  </p>
  <div class="voltarLogin">
    <p><a href="/">Voltar para página de login. </a></p>
  </div>

<br/>
</div>
