<!-- <app-topo></app-topo> -->
<div class="container">
  <div class="topo">
<app-topo></app-topo>
</div>
</div>
<div class="fundo-card">
  <div class="contaVagas">
    <h3>Vagas</h3>
    <p>Localizamos: {{ totalVagas }} vaga(s)</p>
  </div>

  <div class="card-container">
    @for (vaga of vagas; track vaga.descvaga) {

    <div class="card">
      <div class="tituloEmpresa">
        <img class="img-card" src="{{ vaga.logo }}" alt="" srcset="" />
        <h6 class="descricaoEmpresaVaga">{{ vaga.descempresa }}</h6>
      </div>
      <div class="descricaoVaga">
        {{ vaga.nomevaga }}
      </div>
      <div class="botaoCidadeRegime">
        <div class="ciadadeRegime">
          <p><i class="icon">🏢</i> {{ vaga.informacao_contrato }}</p>
          <p>
            <i class="icon"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#EA3323"
              >
                <path
                  d="M480-480q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Zm0 294q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z"
                />
              </svg> </i
            >{{ vaga.desccidade }}
          </p>
        </div>
        <div class="botaoVagaCanditadar">
          <button type="button" id="btnVerVagas" (click)="mostraVaga(vaga)">
            Ver vaga
          </button>
          <button type="button" id="btnCandidatar"   (click)="curriculo(vaga.idvaga)">Canditar-se
            
          </button>
        </div>
      </div>
    </div>
    }
  </div>
</div>

<p-dialog
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [(visible)]="visible"
  [style]="{ width: '50rem', height: '80rem', marginTop: '1rem' }"
  [breakpoints]="{ '1199px': '100vw', '575px': '100vw' }"
>
  <ng-template pTemplate="header">
    <div class="titulo">
      <div class="cabecalho">
        <h4 id="cabecalhoVaga">{{ nomevaga }}</h4>
        <span id="cabecalhoEmpresa">{{ descempresa }}</span>
      </div>

      <div class="botaoCadastra">
        <button p-Button type="button" id="btnCadastrar" (click)="curriculoBotaoModal()">Candidatar-se</button>
      </div>
    </div>
  </ng-template>

  <h3 class="informacaoGeral">Informações gerais</h3>
  <p><i class="icon-location"></i> {{ desccidade }}</p>
  <h4 class="subtitulo">Atividade da vaga</h4>
  <p class="formatacaoTexto">&#11162; {{ descvaga }}</p>
  <h4 class="subtitulo">Requisitos</h4>
  <p class="formatacaoTexto">&#11162; {{ requisito}}</p>
  <!-- <p class="formatacaoTexto">&#11162; {{ requisitos }}</p> -->
  <h4 class="subtitulo">Experiência:</h4>
  <p class="formatacaoTexto">&#11162; {{ experiencia }}</p>
  <h3 class="informacaoGeral">Outras Informações</h3>

  <h4 class="subtitulo">CONTRATO</h4>
  <p class="formatacaoTexto">&#11162; {{ informacao_contrato }}</p>

  <h4 class="subtitulo">BENEFÍCIOS</h4>
  <p class="formatacaoTexto">&#11162; Plano de saúde</p>
  <p class="formatacaoTexto">&#11162; Convênio para compras</p>
  <p class="formatacaoTexto">&#11162; Prêmio para trabalho nos domingos e feriados</p>
  <h4 class="subtitulo">HORÁRIO</h4>
  <p class="formatacaoTexto">&#11162; Flexível</p>
  <h3 class="informacaoGeral">OBSERVAÇÕES SOBRE HORÁRIOS</h3>
  <p class="formatacaoTexto">&#11162; Disponilidade de horarios</p>
  <p class="formatacaoTexto">&#11162; 
    Disponilidade para trabalhar nos domingos e feriados
  </p>
  <p class="formatacaoTexto">&#11162; Escala 6x1</p>
  <p class="formatacaoTexto">&#11162; Escala de domingo 2 x 1 para o sexo masculino</p>
  <p class="formatacaoTexto">&#11162; Escala de domingo 1 x 1 para o sexo feminino</p>
</p-dialog>
