<div class="container">
  @if ( isLoadingResults){
    <div class="loading">
      <app-loading></app-loading>
    </div>
    }
  <div class="login-container">
    <div class="logo"></div>

    <!-- Formulário de Login -->
    <form [formGroup]="loginForm" (ngSubmit)="postLogin({ cpf: loginForm.value.cpf!, senha: loginForm.value.senha! })">
      <div class="cpf">
        <label for="cpf">CPF:</label>
        <input
          id="cpf"
          formControlName="cpf"
          pInputText
          type="text"
          placeholder="CPF"
          maxlength="14"
          appFormatacpf
          appInputpreenchido
        />
      </div>
      <div class="senha">
        <label for="senha">Senha:</label>
        <p-password
          id="senha"
          formControlName="senha"
          [toggleMask]="true"
          [feedback]="false"
          placeholder="Senha"
        />
      </div>
      <div class="recuperaSenha">      
        <a (click)="recuperaSenha()">Esqueceu sua Senha ?</a>
      </div>
      <div class="botao">
        <button
          id="botaoLogin"
          type="submit"
          pButton
          severity="success"
          label="Entrar"
          [disabled]="!loginForm.valid"
          title="Entrar"         
        ></button>
      </div>
    </form>

    <!-- Link para Cadastro -->
    <div class="register-option">
      <p>
        Não tem uma conta?
        <a style="font-weight: bold;" href="/registroLogin">Cadastre-se</a>
      </p>
    </div>
  </div>
</div>

<p-dialog
  [modal]="true"
  [draggable]="true"
  [resizable]="true"
  [(visible)]="mostrarModalRecuperaSenha"
  [style]="{ width: '25rem', height: '21rem'  }"
  [breakpoints]="{ '1199px': '99vw', '575px': '99vw' }"
  headerStyleClass="p-dialog-header"
>
  <ng-template pTemplate="header" >
    <div class="p-header">
      <span style="color: red">Recuperação de Senha</span>
    </div>
  </ng-template>
  <ng-template pTemplate="footer" >
 
  </ng-template>
  <app-recupera-senha></app-recupera-senha>
</p-dialog>

