<div class="container">
  <div class="login-container">
    <div class="logo"></div>
    

    <!-- Formulário de Login -->
    <form [formGroup]="loginForm" >
      <div class="cpf">
        <label for="cpf">CPF:</label>
        <input
          id="cpf"
          formControlName="cpf"
          pInputText
          type="text"
          placeholder="CPF"
          maxlength="14"
          appFormatacpf
          appInputpreenchido
        />
      </div>
      <div class="senha">
        <label for="senha">Senha:</label>
        <p-password
          id="senha"
          formControlName="senha"
          [toggleMask]="true"
          [feedback]="false"
          placeholder="Senha"
         
        />
      </div>
      <div class="recuperaSenha">
      <p>
        Esqueceu sua senha? <a href="/recuperarSenha">Clique aqui</a>        
      </p>
    </div>
      <div class="botao">
        <button
          id="botaoLogin"
          type="submit"
          pButton
          severity="success"
          label="Entrar"
          [disabled]="!loginForm.valid"
          title="Entrar"
        ></button>
      </div>
    </form>

    <!-- Link para Cadastro -->
    <div class="register-option">
      <p>
        Não tem uma conta?
        <a href="/registroLogin">Cadastre-se</a>
      </p>
      
    </div>
  </div>
</div>
