<div class="container">
  <div class="recupera">
  
    <p>Enviaremos para o e-mail cadastrado sua nova senha. </p>
    <form [formGroup]="recuperarSenhaForm" (ngSubmit)="recuperarSenha()">
      
        <div class="email">
        <label for="email">Email:</label>
        <input
          id="email"
          formControlName="email"
          pInputText
          type="email"
          placeholder="E-mail"
          appInputpreenchido
        />
      </div>

      <div class="envia">
        <button
            id="botaoRecuperarSenha"
          type="submit"
          pButton
          label="Recuperar Senha"
          severity="success"
          [disabled]="!recuperarSenhaForm.valid"
          title="Recuperar Senha"
        ></button>

      
      </div>
    </form>
  </div>
</div>
