.container {

  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
border: 1px solid black;
 */
}

.recupera {  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
   height: 16rem; 
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); 
}

.recupera p {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
   margin-top: 5px;  
  width: 21rem;
}
h1 {
  color: #ff355e;
}
.email{
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
   margin-top: 10px; 
  /* margin-bottom: 15px; */
  width: 21rem;
}
.envia {
  margin-top: 15px; 
}
#botaoRecuperarSenha {
  width: 100%;
  cursor: pointer;
}
