<div class="container">
   @if (loading){
  <div class="loading">
    <app-loading></app-loading>
  </div>
  }
  <div class="recupera">
    <p>Enviaremos para o e-mail cadastrado sua nova senha.</p>
    <form [formGroup]="recuperarSenhaForm" (ngSubmit)="recuperaSenha(recuperarSenhaForm.value)">
        <div class="cpf">
        <label for="cpf">CPF:</label>
        <input
          id="cpf"
          formControlName="cpf"
          pInputText
          type="text"
          placeholder="CPF"
          maxlength="14"
          appFormatacpf
          appInputpreenchido
        />
      </div>
      <div class="email">
        <label for="email">Email:</label>
        <input
          id="email"
          formControlName="email"
          pInputText
          type="email"
          placeholder="E-mail"
          appInputpreenchido
        />
      </div>

      <div class="envia">
        <button
          id="botaoRecuperarSenha"
          type="submit"
          pButton
          label="Recuperar Senha"
          severity="success"
          [disabled]="!recuperarSenhaForm.valid"
        
          title="Recuperar Senha"
        ></button>
      </div>
    </form>
  </div>
</div>
