<div class="container">
   
  @if ( loading){
    <div class="loading">
      <app-loading></app-loading>
  </div>
  }
 
  <form [formGroup]="residenciaForm">
      @if(showProgress){
    <div class="loading">
      <app-progressbar></app-progressbar>
    </div>
    }
    <div class="titulo">
      <h1>Dados Residênciais</h1>
      <p>Preencha seus dados residenciais abaixo.</p>
    </div>
    <div class="card flex justify-content-center">
      <div class="cep">
        <label for="cep">CEP:</label>
        <p-inputGroup>
          <input
            id="cep"
            formControlName="cep"
            type="text"
            pInputText
            placeholder="CEP"
            appFormatacep
            [maxlength]="9"
            appInputpreenchido
          />
          <button
          id="btnBuscaCep"
            type="button"
            pButton
           
            class="p-button-success"
            iconPos="right"
            (click)="localizaCep(residenciaForm.value.cep)"
          >
            Localizar Cep
          </button>
        </p-inputGroup>
      </div>
      <div class="estadoCidade">
        <div class="estado">
          <label for="estado">Estado:</label>
         
          <p-dropdown
            formControlName="estado"
            placeholder="Estado"
            [options]="estado"
             
          ></p-dropdown>
          <!-- <input
            id="estado"
            formControlName="estado"
            pInputText
            type="text"
            placeholder="Estado"
          /> -->
        </div>
        <div class="cidade">
          <label for="cidade">Cidade:</label>
          <input
            id="cidade"
            formControlName="cidade"
            pInputText
            type="text"
            placeholder="Cidade"
            appInputpreenchido
          />
        </div>
      </div>
      <div class="enderecoNumBairro">
        <div class="endereco">
          <label for="endereco">Endereço:</label>
          <input
            id="endereco"
            formControlName="endereco"
            pInputText
            type="text"
            placeholder="Endereço"
            appInputpreenchido
          />
        </div>
        <div class="bairro">
          <label for="bairro">Bairro:</label>
          <input
            id="bairro"
            formControlName="bairro"
            pInputText
            type="text"
            placeholder="Bairro"
            appInputpreenchido
          />
        </div>
        <div class="numero">
          <label for="numero">Nº:</label>
          <input
            id="numero"
            formControlName="numero"
            pInputText
            type="text"
            placeholder="Nº"
            appInputpreenchido
          />
        </div>
      </div>
    </div>
<hr>
    <div class="botaoSalvar">
      <p-button
        icon="pi pi-check"
        severity="success"
        label="Salvar os dados Residenciais"
        [disabled]="!residenciaForm.valid"
        (click)="postResidencia(residenciaForm.value)"
      ></p-button>
    </div>
  </form>
  <hr />

</div>
