:root {
  color: #606062;
  --subtitulo-color: #ff355e;
  --corBorda-input: #1dc755a8;
}
.container {
   padding-left: 1rem; 
   padding-right: 1rem; 
 
}
input:hover {
  border: 1px solid var(--corBorda-input);
    cursor: pointer;
    box-shadow: none;
  }
  ::ng-deep .p-inputtext.ng-not-empty {
    border-color: blue; /* Alterar cor da borda */
    background-color: #e3f2fd; /* Fundo claro */
  }


.titulo {
  color: var(--titulo-color);
}
.titulo > h1 {
  font-weight: 500;
  margin-bottom: 0;
}

label {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
/* input {
  text-transform: uppercase;
 } */
.radioPrimeiroEmprego{
margin-top: 2rem;
margin-bottom: 2rem;
}
.radioButton {
  margin-top: 1rem;
  margin-left: 1rem;
}
.botaoSalvar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#empresa,
#cidade,
#cargo {
  width: 100%;
}
.empresa,
.cidade,
.cargo {
  width: calc(50% - 0.5rem);
}
@media screen and (max-width: 1024px) {
  .empresa,
  .cidade,
  .cargo {
    width: 100%;
  }
  
}