<div class="container">
  @if (loading){
  <div class="loading">
    <app-loading></app-loading>
  </div>
  }
  <form [formGroup]="curriculoForm">
    @if(showProgress){
    <div class="loading">
      <app-progressbar></app-progressbar>
    </div>
    } @if(nomeVaga){
    <div class="cardVaga">
      <div class="itemCard">
        <div class="topoCardVaga">
          <h3><strong>Vaga selecionada </strong></h3>
        </div>        
        <h3>Confirme os dados abaixo para se candidatar.</h3>
          <p><strong>Vaga:</strong> {{ nomeVaga }}</p>
          <p><strong>Empresa:</strong> {{ empresaVaga }}</p>
          <p><strong>Cidade:</strong> {{ cidadeVaga }}</p>
      </div>
      <div class="botaoSalvarCardVaga">
      <p-button
        icon="pi pi-check"
        severity="success"
        label="Candidatar"      
        (click)="postVagaCandidado()"
      ></p-button>

        <p-button
          id="botaoCancelaVagaCandidato"
          type="button"
          label="Cancelar"
          icon="pi pi-times"          
          severity="danger"
          (click)="cancelaVagaCandidato()"
          
        ></p-button>
      </div>
    </div>
    }
    <!-- <app-uploaddocumento></app-uploaddocumento> -->
    <div class="titulo">
      <h1>Dados pessoais</h1>
      <p>Preencha seus dados pessoais abaixo</p>
    </div>
    <div class="card flex justify-content-center">
      <div class="nome">
        <label>Nome completo:</label>
        <input
          formControlName="nome"
          pInputText
          id="nome"
          type="text"
          placeholder="Nome completo"
          appInputpreenchido
        />
      </div>
      <label>Sexo:</label>
      <div class="sexo">
        <p-radioButton
          class="radioButton"
          formControlName="sexo"
          name="sexo"
          value="M"
          label="Masculino"
          (onClick)="limparFilhos($event)"
        ></p-radioButton>
        <p-radioButton
          class="radioButton"
          formControlName="sexo"
          name="sexo"
          value="F"
          label="Feminino"
          (onClick)="limparFilhos($event)"
        ></p-radioButton>
      </div>
      <label>Estado civil:</label>
      <div class="estaCivil">
        <p-dropdown
          formControlName="estadoCivil"
          placeholder="Selecione"
          [options]="estadoCivil"
          appCombopreenchido
        ></p-dropdown>
      </div>
      <hr />
      <h2>Informações sobre os documentos</h2>
      <div class="documento">
        <div class="cpf">
          <label>CPF:</label>
          <input
            id="cpf"
            formControlName="cpf"
            pInputText
            type="text"
            placeholder="CPF"
            maxlength="14"
            appFormatacpf
            appInputreadonly
            appInputpreenchido
          />
        </div>
        <div class="rg">
          <label>RG:</label>
          <input
            id="rg"
            formControlName="rg"
            pInputText
            type="text"
            maxlength="14"
            placeholder="RG"
            appApenasNumero
            appInputpreenchido
          />
        </div>
      </div>
      <div class="informacaoDocumento">
        <div class="dataEmissao">
          <label for="dataEmissao">Data de emissão</label>
          <input
            formControlName="dataEmissao"
            pInputText
            type="date"
            id="dataEmissao"
            placeholder="Data de emissão"
            appInputpreenchido
          />
        </div>

        <div class="orgaoEmissor">
          <label for="orgaoEmissor">Orgão Emissor</label>
          <input
            id="orgaoEmissor"
            formControlName="orgaoEmissor"
            pInputText
            type="text"
            placeholder="Orgão emissor"
            appInputpreenchido
          />
        </div>
        <div class="estadoEmissor">
          <label for="estadoEmissor">Estado Emissor</label>
          <p-dropdown
            formControlName="estadoEmissor"
            placeholder="Estado Emissor"
            [options]="estadoEmissor"
          ></p-dropdown>
        </div>
      </div>

      <label for="dataNascimento">Data de nascimento:</label>
      <div class="dataNascimento">
        <input
          formControlName="dataNascimento"
          pInputText
          type="date"
          id="dataNascimento"
          appInputpreenchido
        />
      </div>

      <div class="parente">
        <div class="nomePai">
          <label>Nome do Pai:</label>
          <input
            id="nomePai"
            formControlName="nomePai"
            pInputText
            type="text"
            placeholder="Nome do pai"
            appInputpreenchido
          />
        </div>

        <div class="nomeMae">
          <label for="nomeMae">Nome da Mãe</label>
          <input
            id="nomeMae"
            formControlName="nomeMae"
            pInputText
            type="text"
            placeholder="Nome da mãe"
            appInputpreenchido
          />
        </div>
      </div>
      <hr />
      <H2>Informações sobre a escolaridade</H2>
      <div class="grauInstrucao">
        <label for="grauInstrucao" class="grauInstrucao">
          Grau de instrução</label
        >
        <p-dropdown
          formControlName="grauInstrucao"
          placeholder="Grau de instrução"
          [options]="grauInstrucao"
        ></p-dropdown>
      </div>

      <div class="estudaAtualmente">
        <div class="radioEstuda">
          <label for="estuda">Estuda atualmente?</label>
          <p-radioButton
            class="radioButton"
            formControlName="estudaAtualmente"
            name="estudaAtualmente"
            value="S"
            label="Sim"
          ></p-radioButton>
          <p-radioButton
            class="radioButton"
            formControlName="estudaAtualmente"
            name="estudaAtualmente"
            value="N"
            label="Não"
          ></p-radioButton>
        </div>

        @if(curriculoForm.get('estudaAtualmente')!.value === 'S'){
        <div class="turno">
          <label for="turnoEscola">Turno da escola:</label>
          <p-dropdown
            formControlName="turno"
            placeholder="Turno da escola"
            [options]="turnoEscola"
          />
        </div>
        }
      </div>

      <div class="filhos">
        <div class="radiofilho">
          <label for="telefone">Possui filhos? </label>
          <p-radioButton
            class="radioButton"
            formControlName="filhos"
            name="filhos"
            value="S"
            label="Sim"
          ></p-radioButton>
          <p-radioButton
            class="radioButton"
            formControlName="filhos"
            name="filhos"
            value="N"
            label="Não"
          ></p-radioButton>
        </div>
        @if(curriculoForm.get('filhos')!.value === 'S'){
        <div class="qtdFilhos">
          <label for="qtdFilhos">Nº de filhos:</label>
          <input
            id="numFilhos"
            formControlName="numFilhos"
            pInputText
            type="text"
            placeholder="Nº de filhos"
            appApenasNumero
            maxlength="1"
            appInputpreenchido
          />
        </div>

        }
      </div>
      <hr />
      <h2>Informações de gerais</h2>
      <div class="telefone">
        <label for="telefone">Telefone:</label>
        <input
          id="telefone"
          pInputText
          type="tel"
          formControlName="telefone"
          placeholder="Telefone"
          appFormatatelefone
          maxlength="14"
          appInputpreenchido
        />
      </div>
      <div class="email">
        <label for="email">E-mail:</label>
        <input
          id="email"
          pInputText
          type="email"
          formControlName="email"
          placeholder="E-mail"
          appInputpreenchido
        />
      </div>
      <div class="pcd">
        <div class="radioPcd">
          <label for="pcd">Deseja se cadastrar como PCD?</label>
          <p-radioButton
            class="radioButton"
            formControlName="pcd"
            name="pcd"
            value="S"
            label="Sim"
          ></p-radioButton>
          <p-radioButton
            class="radioButton"
            formControlName="pcd"
            name="pcd"
            value="N"
            label="Não"
          ></p-radioButton>
        </div>
        @if(curriculoForm.get('pcd')!.value==='S'){
        <div class="deficiencia">
          <div>
            <label for="deficiencia">Qual deficiência?</label>
            <p-dropdown
              formControlName="deficiencia"
              placeholder="Deficiência"
              [options]="deficiencia"
            ></p-dropdown>
          </div>
        </div>
        <div class="enviarArquivo">
          <app-file-uploader></app-file-uploader>
          <p>Tamanho maxímo de 1MB</p>
          <p id="envioOpcionalMensagem">Envio opcional</p>
        </div>
        }
      </div>
    </div>
    <hr />

    @if(nomeDocumento && nomeDocumento.length > 0){
    <p class="tituloGrupoArquivo">Arquivos enviados:</p>
    @for(nomeDocumentos of nomeDocumento; track nomeDocumentos) {
    <div class="nomeArquivo">
      <div class="nomeDoc">
        {{ nomeDocumentos }}
      </div>
      <div class="botaoExcluir">
        <p-button
          pButton
          icon="pi pi-trash"
          (click)="deleteArquivo(nomeDocumentos)"
        ></p-button>
      </div>
    </div>
    } }

    <hr />
    <div class="botaoSalvar">
      <p-button      
        icon="pi pi-check"
        severity="success"
        label="Salvar os dados pessoais"
        [disabled]="!curriculoForm.valid"
        (click)="postCurriculo(curriculoForm.value)"
      ></p-button>
    </div>
  </form>

  <hr />
</div>
