:root {
  color: #606062;
  --subtitulo-color: #ff355e;
  --corBorda-input: #1dc755a8;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

/*************  ✨ Windsurf Command 🌟  *************/
.cardVaga {
  display: flex;
  
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align at the top */
  width: auto;
  max-width: 25rem; /* Set a maximum width for the card */
  padding: 0.5rem;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #d1d9e0;
  margin: 0 auto; /* Center horizontally */
  p,
  h3 {
    color: #606062;
  }
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}
.topoCardVaga {
  border-bottom: 1px solid #606062;
  height: 2rem;
  margin-bottom: 0.5rem;
}
/*******  cfc0f703-04dd-4e74-98d4-cd964ecabcdf  *******/
.itemCard {
  width: 100%;
  align-items: center;
}
.botaoSalvarCardVaga {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 1rem;
  gap: 1rem;
}

#botaoCancelaVagaCandidato .p-button:hover {
  background-color: red;
  border: none;
  box-shadow: none;
}

input:hover {
  border: 1px solid var(--corBorda-input);
  cursor: pointer;
  box-shadow: none;
}

.nome {
  width: 40vw;
}

.titulo {
  color: var(--titulo-color);
}

.titulo > h1 {
  font-weight: 500;
  margin-bottom: 0;
}

h2 {
  padding: 0;
  margin: 0;
  color: #606062;
}

label {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.sexo {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.documento,
.informacaoDocumento {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  gap: 1rem;
}

.filhos {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.enviarArquivo {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.enviarArquivo > p {
  margin: 0;
}

.radioButton { 
  margin-left: 1rem;
}

.estudaAtualmente {
  display: flex;
}

.radioEstuda,
.radiofilho {
  margin-right: 1rem;
}

.telefone,
.email {
  width: 20rem;
}
.dataNascimento {
  width: 10rem;
}
.nomePai,
.nomeMae {
  width: 40rem;
}

.botaoSalvar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#envioOpcionalMensagem {
  color: red;
}
.tituloGrupoArquivo {
  font-size: 1.2rem;
  color: #606062;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
  /* border-bottom: 1px solid #606062; */
}
.nomeArquivo {
  font-size: 1.2rem;
  color: #606062;
  /* margin-top: 1rem; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: #eeeef3;
  width: 100%;
  border: 1px solid #606062;
  .nomeDoc {
    color: var(--subtitulo-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
    font-size: 1rem;
    padding-bottom: 0.75rem;
  }

  .p-button {
    color: #ffffff;
    background: transparent;

    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
      box-shadow 0.2s;
    border-radius: 6px;
    outline-color: transparent;
  }
  ::ng-deep .p-ripple.p-element.p-button.p-component.p-button-icon-only {
    /* Estilos específicos para o botão de exclusão */
    color: #ffffff;
    background: var(--mdc-filled-text-field-error-focus-label-text-color);
    border: 1px solid var(--mdc-filled-text-field-error-focus-label-text-color);
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
      box-shadow 0.2s;
    border-radius: 6px;
    outline-color: transparent;
  }
  ::ng-deep .pi {
    font-size: 1rem;
    color: #ffffff;
  }
}

@media screen and (max-width: 700px) {
  #nome,
  #nomePai,
  #nomeMae,
  #cpf,
  #rg,
  #orgaoEmissor,
  #dataEmissao,
  #cep,
  #cidade,
  #bairro,
  #logradouro,
  #numero,
  #complemento,
  #telefone,
  #email,
  #estado {
    width: 100%;
  }
  .enviarArquivo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .botaoSalvar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
  }
  .nome,
  .nomeMae,
  .nomePai {
    width: 100%;
  }
  .estudaAtualmente,
  .documento,
  .informacaoDocumento,
  .parente,
  /* .filhos, */
  .pcd {
    flex-direction: column;
  }
  .nomeArquivo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #eeeef3;
    padding: 1rem;
    border: 1px solid #606062;
  }
}
